# Assignment-2

In [81]:
diamonds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

## a) Read a dataset from diamonds Data Frame and modify the default columns values and print the first 6 rows

In [82]:
#importing neccessary libraries and dataset
import pandas as pd
user_cols=['carat','cut','x','y','z']
diamonds=pd.read_csv('diamonds.csv')
print("first 6 rows")
print(diamonds[user_cols].head(6))

first 6 rows
   carat        cut     x     y     z
0   0.23      Ideal  3.95  3.98  2.43
1   0.21    Premium  3.89  3.84  2.31
2   0.23       Good  4.05  4.07  2.31
3   0.29    Premium  4.20  4.23  2.63
4   0.31       Good  4.34  4.35  2.75
5   0.24  Very Good  3.94  3.96  2.48

## b) Select a series from diamonds Data Frame. Print the content of the series

In [83]:
#print any one series of diamond dataset
print(diamonds['carat'])

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

## c) Create a new 'Quality -color' Series(use bracket notation to define the Series name) of the diamonds dataframe

In [110]:
#creating a new series called 'Quality -color'
import pandas as pd
diamonds=pd.read_csv('diamonds.csv')
diamonds['Quality -color'] = diamonds.cut+','+diamonds.color
print(diamonds.head())

   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z Quality -color
0  2.43        Ideal,E
1  2.31      Premium,E
2  2.31         Good,E
3  2.63      Premium,I
4  2.75         Good,J

## d) Rename two of the columns of the diamonds Data frame and rename all the columns of the diamonds dataframe

In [111]:
 # Renaming twio of the columns
print("original dataframe")
print(diamonds.head())
print("\n after renaming two of the columns:")
diamonds.rename(columns={'color':'diamond_color','clarity':'diamond_clarity'},inplace=True)
print(diamonds.head())

original dataframe
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z Quality -color
0  2.43        Ideal,E
1  2.31      Premium,E
2  2.31         Good,E
3  2.63      Premium,I
4  2.75         Good,J

 after renaming two of the columns:
   Unnamed: 0  carat      cut diamond_color diamond_clarity  depth  table  \
0           1   0.23    Ideal             E             SI2   61.5   55.0
1           2   0.21  Premium             E             SI1   59.8   61.0
2           3   0.23     Good             E             VS1   56.9   65.0
3           4   0.29  Premium             I             VS2   62.4   58.0
4           5   0.31     Good             J             SI2   63.3   58.0

   price     x     y     z Quality -color
0    326  3.95  3.98  2.43        Ideal,E
1    326  3.89  3.84  2.31      Premium,E
2    327  4.05  4.07  2.31         Good,E
3    334  4.20  4.23  2.63      Premium,I
4    335  4.34  4.35  2.75         Good,J

## e) Remove the second column of the diamonds Data frame and remove multiple columns at once of the diamonds Data frame

In [112]:
#remove the second columns
diamonds=pd.read_csv('diamonds.csv')
print("original dataframe:")
print(diamonds.head())
print("\n after renaming the second columns:")
diamonds.drop('cut',axis=1,inplace=True)
print(diamonds.head())

original dataframe:
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75

 after renaming the second columns:
   Unnamed: 0  carat color clarity  depth  table  price     x     y     z
0           1   0.23     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1           2   0.21     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2           3   0.23     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3           4   0.29     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4           5   0.31     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [113]:
diamonds=pd.read_csv('diamonds.csv')
print("original dataframe:")
print(diamonds.head())
print("\n after renaming the second columns:")
diamonds.drop(['carat','color','y'],axis=1,inplace=True)
print(diamonds.head())

original dataframe:
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75

 after renaming the second columns:
   Unnamed: 0      cut clarity  depth  table  price     x     z
0           1    Ideal     SI2   61.5   55.0    326  3.95  2.43
1           2  Premium     SI1   59.8   61.0    326  3.89  2.31
2           3     Good     VS1   56.9   65.0    327  4.05  2.31
3           4  Premium     VS2   62.4   58.0    334  4.20  2.63
4           5     Good     SI2   63.3   58.0    335  4.34  2.75

## f) Remove multiple rows at once(axis=0 refers to rows) from diamonds data frame

In [114]:
#Removing multiple rows at a time
diamonds=pd.read_csv('diamonds.csv')
print("original dataframe:")
print(diamonds.head())
print("\n after renaming multiple rows:")
diamonds.drop([2,4,5],axis=0,inplace=True)
print(diamonds.head())

original dataframe:
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75

 after renaming multiple rows:
   Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0           1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1           2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
3           4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
6           7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95
7           8   0.26  Very Good     H     SI1   61.9   55.0    337  4.07

      y     z
0  3.98  2.43
1  3.84  2.31
3  4.23  2.63
6  3.98  2.47
7  4.11  2.53

## g) Sort the price 'price' Series in decending order (returns a Series) of diamonds Data frame and sort the entire diamonds Data Frame by the 'carat' Series in ascending and descending order

In [115]:
# sorting the 'price' series
print("\n Price series in descending order:")
result=diamonds.price.sort_values(ascending =False)
print(result)

 Price series in descending order:
27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
         ...
7          337
6          336
3          334
1          326
0          326
Name: price, Length: 53937, dtype: int64

In [116]:
# sorting the entire dataset based on 'carat' series
print("Sorting the entire diamonds data frame by the 'carat' series in ascending order")
result=diamonds.sort_values('carat')
print(result)
print("sorting the entire diamonds data frame by the 'carat' series in descending order")
result=diamonds.sort_values('carat',ascending = False)
print(result)

Sorting the entire diamonds data frame by the 'carat' series in ascending order
       Unnamed: 0  carat        cut color clarity  depth  table  price      x  \
31593       31594   0.20    Premium     E     VS2   61.1   59.0    367   3.81
31598       31599   0.20  Very Good     E     VS2   63.4   59.0    367   3.74
14             15   0.20    Premium     E     SI2   60.2   62.0    345   3.79
31600       31601   0.20    Premium     D     VS2   62.3   60.0    367   3.73
31599       31600   0.20      Ideal     E     VS2   62.2   57.0    367   3.76
...           ...    ...        ...   ...     ...    ...    ...    ...    ...
25998       25999   4.01    Premium     I      I1   61.0   61.0  15223  10.14
25999       26000   4.01    Premium     J      I1   62.5   62.0  15223  10.02
27130       27131   4.13       Fair     H      I1   64.8   61.0  17329  10.00
27630       27631   4.50       Fair     J      I1   65.8   58.0  18531  10.23
27415       27416   5.01       Fair     J      I1   65.5   59.0  18018  10.74

           y     z
31593   3.78  2.32
31598   3.71  2.36
14      3.75  2.27
31600   3.68  2.31
31599   3.73  2.33
...      ...   ...
25998  10.10  6.17
25999   9.94  6.24
27130   9.85  6.43
27630  10.16  6.72
27415  10.54  6.98

[53937 rows x 11 columns]
sorting the entire diamonds data frame by the 'carat' series in descending order
       Unnamed: 0  carat      cut color clarity  depth  table  price      x  \
27415       27416   5.01     Fair     J      I1   65.5   59.0  18018  10.74
27630       27631   4.50     Fair     J      I1   65.8   58.0  18531  10.23
27130       27131   4.13     Fair     H      I1   64.8   61.0  17329  10.00
25999       26000   4.01  Premium     J      I1   62.5   62.0  15223  10.02
25998       25999   4.01  Premium     I      I1   61.0   61.0  15223  10.14
...           ...    ...      ...   ...     ...    ...    ...    ...    ...
31594       31595   0.20  Premium     E     VS2   59.7   62.0    367   3.84
31593       31594   0.20  Premium     E     VS2   61.1   59.0    367   3.81
31592       31593   0.20  Premium     E     VS2   59.0   60.0    367   3.81
31591       31592   0.20  Premium     E     VS2   59.8   62.0    367   3.79
31600       31601   0.20  Premium     D     VS2   62.3   60.0    367   3.73

           y     z
27415  10.54  6.98
27630  10.16  6.72
27130   9.85  6.43
25999   9.94  6.24
25998  10.10  6.17
...      ...   ...
31594   3.80  2.28
31593   3.78  2.32
31592   3.78  2.24
31591   3.77  2.26
31600   3.68  2.31

[53937 rows x 11 columns]


## h) Filter the Data frame rows to only show carat weight at least 0.3

In [117]:
#prints the rows having carat weight greater than or equal to 0.3
print('rows to only show carat weight at least 0.3')
booleans=[]
for w in diamonds.carat:
    if w>=0.3:
       booleans.append(True)
    else:
        booleans.append(False)
print(booleans[0:20])

rows to only show carat weight at least 0.3
[False, False, False, False, False, False, False, True, False, False, True, False, True, True, True, True, True, True, False, False]

## i) Find the diamonds that are with a fair or good or premium

In [118]:
#print the diamonds that are with a Fair or Good or Premium
print("\n Diamonds that are with a Fair or good or Premium:")
result=diamonds[diamonds.cut.isin(["Fair","Good","Premium"])]
print(result.head())

 Diamonds that are with a Fair or good or Premium:
    Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
1            2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
3            4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
8            9   0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78
10          11   0.30     Good     J     SI1   64.0   55.0    339  4.25  4.28
12          13   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84

       z
1   2.31
3   2.63
8   2.49
10  2.73
12  2.33

## j) Find the details of the diamonds where length>5, width>>5 and depth>5

In [119]:
#prints the details of the diamonds where length>5, width>5 and depth>5
print("Details of the diamonds where length>5,width>5 and depth>5:")
result=diamonds[(diamonds.x>5)&(diamonds.y>5)&(diamonds.z>5)]
print(result.head())

Details of the diamonds where length>5,width>5 and depth>5:
       Unnamed: 0  carat   cut color clarity  depth  table  price     x     y  \
11778       11779   1.83  Fair     J      I1   70.0   58.0   5083  7.34  7.28
13002       13003   2.14  Fair     J      I1   69.4   57.0   5405  7.74  7.70
13118       13119   2.15  Fair     J      I1   65.5   57.0   5430  8.01  7.95
13562       13563   1.96  Fair     F      I1   66.6   60.0   5554  7.59  7.56
13757       13758   2.22  Fair     J      I1   66.7   56.0   5607  8.04  8.02

          z
11778  5.12
13002  5.36
13118  5.23
13562  5.04
13757  5.36

# k) Read only a subset of 3 rows from diamonds Data frame and iterate through diamonds Data Frame

In [120]:
#Reading only the 3 rows from the dataset
print("\n Subset of 3 rows:")
result=pd.read_csv('diamonds.csv',nrows=3)
print(result.head())

 Subset of 3 rows:
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5     55    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8     61    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9     65    327  4.05  4.07

      z
0  2.43
1  2.31
2  2.31

In [ ]:
## Iterating thruogh diamonds dataframe
print("Iterating through diamonds dataframe:")
for index,row in diamonds.iterrows():
    print(index,row.carat,row.cut,row.color,row.price)

## i) Calculate the mean of each numeric column of diamonds data Frame and calculate the mean of each row of diamonds Data Frame

In [122]:
# calculating the mean of columns
print(" Mean of each numeric column of diamonds Data Frame:")
print(diamonds.mean())

 Mean of each numeric column of diamonds Data Frame:
Unnamed: 0    26971.999852
carat             0.797970
depth            61.749447
table            57.457042
price          3932.999963
x                 5.731247
y                 5.734615
z                 3.538791
dtype: float64

In [123]:
#calculating the mean of rows
print("Mean of each numeric rows of diamonds Data Frame:")
print(diamonds.mean(axis=1).head())

Mean of each numeric rows of diamonds Data Frame:
0    56.76125
1    57.38125
3    58.71875
6    59.11750
7    59.10875
dtype: float64

## m) Calculate the mean of price for each cut of diamonds Data Frame and Calculate count,minimum,maximum price foe each cut of diamonds Data Frame

In [124]:
# Calculating the mean of price
print("Calculate the mean of price for each cut:")
print(diamonds.groupby('cut').price.mean())

Calculate the mean of price for each cut:
cut
Fair         4358.757764
Good         3930.331770
Ideal        3457.541970
Premium      4584.257704
Very Good    3982.061667
Name: price, dtype: float64

In [125]:
#caculating count,minimum,maximum price for each cut of diamonds Data Frame
print("\n Count,minimum,maximum price for each cut of diamonds data Frame:")
print(diamonds.groupby('cut').price.agg(['count','min','max']))

 Count,minimum,maximum price for each cut of diamonds data Frame:
           count  min    max
cut
Fair        1610  337  18574
Good        4904  339  18788
Ideal      21551  326  18806
Premium    13791  326  18823
Very Good  12081  336  18818

## n) Count the number of missing values in each Series  of diamonds Data Frame

In [126]:
print("Number of missing values in each Series of Diamonds Data Frame:")
print(diamonds.isnull().sum())

Number of missing values in each Series of Diamonds Data Frame:
Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

## O) Access a specified Series index and th eSeries values of diamonds Data Frame

In [127]:
# Accessing the index and values
print("\n Accesing the series index:")
print(diamonds.carat.value_counts().index)
print("\n Accesing the Series values:")
print(diamonds.carat.value_counts().values)

 Accesing the series index:
Float64Index([ 0.3, 0.31, 1.01,  0.7, 0.32,  1.0,  0.9, 0.41,  0.4, 0.71,
              ...
              2.65, 3.05, 2.71, 3.22, 4.13,  2.7, 3.67, 5.01, 2.77,  3.4],
             dtype='float64', length=273)

 Accesing the Series values:
[2604 2248 2242 1981 1840 1558 1485 1382 1299 1294 1258 1189 1127  910
  883  817  807  793  764  709  706  670  667  645  625  572  570  523
  496  492  492  488  475  473  440  430  398  394  381  373  361  342
  322  310  308  300  292  287  284  282  279  278  265  253  253  251
  251  251  249  246  246  236  233  228  226  220  215  212  212  207
  204  200  198  187  187  178  177  174  172  155  149  146  142  140
  135  134  133  131  130  126  124  123  122  122  119  110  110  109
  106  106  103  102  101   99   95   89   89   89   87   86   80   77
   68   67   65   65   64   64   63   62   61   60   59   59   57   52
   52   50   50   50   50   50   48   48   48   46   45   45   43   43
   41   40   40   36   34   32   32   31   31   31   30   28   27   26
   26   25   25   25   25   25   24   23   23   23   22   22   21   21
   21   21   21   20   19   19   18   18   18   18   18   17   17   17
   17   16   16   15   15   15   14   13   13   13   13   12   12   12
   12   11    9    9    9    9    9    9    9    8    8    8    8    8
    7    7    7    7    7    6    6    6    5    5    5    5    4    4
    4    4    4    4    4    3    3    3    3    3    3    3    3    3
    3    3    3    3    3    3    3    3    2    2    2    2    2    2
    1    1    1    1    1    1    1    1    1    1    1    1    1    1
    1    1    1    1    1    1    1]

## p) Read rows 0 through 2(inclusive),columns 'color' through 'price' (inclusive) of diamonds data frame

In [128]:
print("\n Rows 0 through 2(inclusive),column 'color' through 'price' (inclusive)")
print (diamonds.loc[0:2,['color','price']])

 Rows 0 through 2(inclusive),column 'color' through 'price' (inclusive)
  color  price
0     E    326
1     E    326

## q) Read rows in which the 'cut' is 'premium',column 'color' of diamonds Data Frame

In [129]:
print( "\n Rows in which the 'cut' is 'Premium':" )
print(diamonds.loc[diamonds.cut=='Premium','color'])

 Rows in which the 'cut' is 'Premium':
1        E
3        I
12       F
14       E
15       E
        ..
53928    E
53930    E
53931    F
53934    D
53938    H
Name: color, Length: 13791, dtype: object

## r) Detect duplicate color and count the duplicate rows of diamonds Data Frame

In [130]:
print("number of rows and columns:")
print("diamonds.shape")
print('\n count the duplicate rows of diamonds Data Frame')
print(diamonds.clarity.duplicated().sum())

number of rows and columns:
diamonds.shape

 count the duplicate rows of diamonds Data Frame
53929

In [137]:
#Evaluating the missing values
diamonds.isnull().any().any()

False

In [144]:
diamonds.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

## s) check the number of rows and columns and drop those row if 'any' values are missing in a row of diamonds Data frame

In [145]:
print("Number of rows and columns:")
print(diamonds.shape)
print("After droping those rows which are having missing values")
print(diamonds.dropna(how='any').shape)

Number of rows and columns:
(53940, 11)
After droping those rows which are having missing values
(53940, 11)

## t) calculate various summary statistics of cut series of diamonds Data Frame

In [147]:
print("\n Various summary statistics of cut series of diamonds Data Frame:")
print(diamonds.carat.describe())

 Various summary statistics of cut series of diamonds Data Frame:
count    53940.000000
mean         0.797940
std          0.474011
min          0.200000
25%          0.400000
50%          0.700000
75%          1.040000
max          5.010000
Name: carat, dtype: float64

## u) concatenate the diamonds Data Frame with the 'color' Series

In [153]:
print("original dataset")
print(diamonds.head())
print("cancatenate the diamonds Data Frame with the 'color' Series:")
print(pd.concat([diamonds,diamonds.color],axis=1).head())

original dataset
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75
cancatenate the diamonds Data Frame with the 'color' Series:
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z color
0  2.43     E
1  2.31     E
2  2.31     E
3  2.63     I
4  2.75     J